
<div >
    <form action="/login" method="post">
        <label for="team_name">Enter name: </label>
        <input id="team_name" type="text" name="name_field" value="<%=qs.person%>">
    <input type="submit" value="OK"><br>
</form>